.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  min-width: 180px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background-color: $accent-color;
  color: #1d1d1d;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.02);
}
