.contacts {
  padding-top: 0;
  padding-bottom: -120px;

  @media (min-width: $tablet-min-width) {
    padding-top: 120px;
  }

  &__title {
    margin-top: 80px;
    margin-bottom: 140px;
    text-align: center;
  }

  &__content {
    margin-bottom: -270px;
    display: grid;
    gap: 32px;

    @media (min-width: $tablet-min-width) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      column-gap: 48px;
      align-items: start;

      @media (min-width: $desktop-min-width) {
        grid-template-columns: 460px minmax(0, 1fr);
        column-gap: 160px;
      }
    }
  }

  &__form {
    display: grid;
    gap: 13px;
  }

  &__input,
  &__textarea {
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    border-radius: 40px;
    background-color: $input-bg-color;
    color: $input-text-color;
    padding-inline: 16px;
    appearance: none;
    cursor: text;
    transition:
      border-color 0.3s,
      background-color 0.3s,
      box-shadow 0.3s;
  }

  &__input {
    height: 48px;
  }

  &__textarea {
    height: 120px;
    padding-top: 14px;
    border-radius: 16px;
    resize: none;
  }

  &__input:hover,
  &__textarea:hover,
  &__input:focus,
  &__textarea:focus {
    border-color: #d5d7de;
    background-color: #fff;
    box-shadow: 0 0 0 1px #d5d7de;
  }

  &__input:-webkit-autofill,
  &__input:-webkit-autofill:hover,
  &__input:-webkit-autofill:focus,
  &__textarea:-webkit-autofill,
  &__textarea:-webkit-autofill:hover,
  &__textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: $input-text-color;
    -webkit-box-shadow: 0 0 0 1000px $input-bg-color inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  &__button {
    width: 100%;
    margin-top: 4px;
  }


  &__info {
    display: grid;
    row-gap: 24px;
  }

  &__item {
    margin: 0;
  }

  &__label {
    margin: 0 0 6px;
    color: #9fadc2;
    font-size: 12px;
    line-height: 16px;
  }

  &__value {
    color: $main-text-color;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    transition:
      color 0.3s,
      text-decoration-color 0.3s;
  }

  &__value:hover {
    color: #9fadc2;
    text-decoration: underline;
  }
}
