.footer {
  position: sticky;;
  bottom: 0;
  z-index: -1;
  height: 200px;
  padding-bottom: 80px;
  margin-top: -32px;
  background-image: url('../images/footer-cyclists.jpg');
  background-size: cover;
  background-position: center top;


  @media (max-width: 560px) {
    padding-bottom: 200px;
    height: 100px;
    margin-top: 250px;
    
}

  @media (min-width: $desktop-min-width) {
    padding-bottom: 0;
    height: 555px;
    margin-top: -120px;
    
  }
}
