.header {
  min-height: 100vh;
  background-image: url('../images/hero-bike.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 400px;
    padding-bottom: 80px;

    @media (max-width: 560px) {
    padding-top: 200px;
      padding-bottom: 400px;
}

    @media (min-width: $desktop-min-width) {
      padding-bottom: 200px;
    }
  }

  &__title {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @media (min-width: $tablet-min-width) {
      font-size: 64px;
    }

    @media (min-width: $desktop-min-width) {
      font-size: 80px;
    }
  }
}
