.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &--phone {
    position: relative;
    width: 18px;
    height: 18px;
    background-image: url('../images/icon-phone.svg');

    @media (min-width: $desktop-min-width) {
      &::before {
        content: '+1 234 555-55-55';
        position: absolute;
        top: 50%;
        right: 28px;
        transform: translateY(-50%);
        width: max-content;
        opacity: 0;
        pointer-events: none;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $main-text-color;
        transition: opacity 0.3s;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }

  &--menu {
    width: 24px;
    height: 16px;
    background-image: url('../images/icon-menu.svg');
  }

  &--close {
    width: 16px;
    height: 16px;
    background-image: url('../images/icon-close.svg');
  }
}
