.menu {
  position: fixed;
  inset: 0;
  z-index: 10;
  overflow: auto;
  background-color: $menu-bg-color;
  color: #1d1d1d;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &:target {
    opacity: 1;
    pointer-events: all;
  }

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $menu-bg-color;
  }

  .top-bar {
    margin-bottom: 40px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 48px;
    }
  }

  .icon--close {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-size: 16px 16px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin: 0 0 40px;
  }

  &__link {
    width: fit-content;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &__phone-number {
    display: block;
    width: fit-content;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &__book-test-ride {
    display: block;
    width: fit-content;
    padding-bottom: 8px;
    border-bottom: 1px solid #1d1d1d;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
