.page {
  scroll-behavior: smooth;
  min-width: 320px;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  color: $main-text-color;
  background-color: $page-bg-color;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__menu {
    position: fixed;
    inset: 0;
  }
}

.main {
  position: relative;
  z-index: 1;
  background-color: $page-bg-color;
  padding-bottom: 200px;

  @media (min-width: $tablet-min-width) {
    padding-bottom: 480px;
  }

  @media (min-width: $desktop-min-width) {
    padding-bottom: 555px;
  }
}
