.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;

  @media (min-width: $tablet-min-width) {
    padding-top: 36px;
  }

  &__logo {
    display: block;
  }

  &__logo-image {
    display: block;
    width: 130px;
    height: auto;

    @media (min-width: $tablet-min-width) {
      width: 187px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
