@import './utils/variables';
@import './utils/mixins';
@import './blocks/page';
@import './blocks/container';
@import './blocks/header';
@import './blocks/top-bar';
@import './blocks/icon';
@import './blocks/menu';
@import './blocks/section';
@import './blocks/compare-bikes';
@import './blocks/button';
@import './blocks/contacts';
@import './blocks/footer';
@import './blocks/details';

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
a,
ul,
li,
button,
input,
textarea {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


button,
input,
textarea {
  font: inherit;
}
