@mixin page-grid {
  display: grid;
  column-gap: 20px;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(12, 1fr);
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @media (min-width: $tablet-min-width) {
    padding-inline: 72px;
  }

  @media (min-width: $desktop-min-width) {
    padding-inline: 120px;
  }
}
