$main-text-color: #fff;
$secondary-text-color: #d5d7de;
$page-bg-color: #1d1d1d;
$menu-bg-color: #c2c2c2;
$input-bg-color: #f8f8fa;
$input-text-color: #292929;
$accent-color: #fff;
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$content-max-width: 1020px;
